/* Import google fonts ======================================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');


/* ===============================================================================
                                    common style 
================================================================================== */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}


/* ===============================================================================
                                   header style
================================================================================== */

header{
    height: 690px;
    background: #2D25A0;
}
.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 120px;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li a{
    font-size: 16px;
    color: #fff;
    padding-right: 36px;
}
.btn{
    font-size: 16px;
    color: #fff;
    padding: 10px 24px;
    background: #E02C6D;
    border: none;
    cursor: pointer;
    transition: .3s;

}
.btn:hover{
    transform: translateX(5px);
    background: #aa154c;
   
}
.btn:active{
    transform: scale(1.1);
   
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 140px;
}
.banner-text{
    font-size: 64px;
    line-height: 80px;
    width: 550px;
    color: #fff;
}

.banner img{
    width: 556px;
    height: 438px;
}
.banner-logo{
    
    transition: .4s;
}
.banner:hover .banner-logo{
    transform: translateX(-20px) scale(1.1);
    
    
}


/* ===============================================================================
                                   plaer section style
================================================================================== */

main section{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}
.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.player img{
    width: 300px;
    height: 256px;
    object-fit: cover;
    transition: .5s;
    
    
}
.player:hover img{
    
    transform: translateY(-15px);
    
}
.player h3{
    font-size: 28px;
    
}
.player p{
    font-size: 16px;
    color: #6C6C6C;
}

/* ===============================================================================
                                   Extra ranking style
================================================================================== */


.rank-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
section .ranking{
    width: 1050px;
}
section .ranking h3{
    font-size: 40px;
    margin: 35px 0;
    font-weight: bold;
    color: #555;
}
section .ranking .ranked .rank-head{
    display: flex;
    width: 100%;
    background: #00000029;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100px;
    font-size: 1.2em;
}

section .ranking .ranked article{
    
    display: flex;
    width: 100%;
    background: #555;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 100px;
}
section .ranking .ranked article h2{
    font-size: 30px;
    color: aliceblue;
}

.ranked article hr{
    border: 1px solid aliceblue;
    width: 100%;
}
.ranked article .player-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ranked article img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.ranked article span{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranked article span img{
    height: 35px;
    width: 35px;
    object-fit: cover;
    margin-right: 10px;

}



/* ===============================================================================
                                   highlights section style
================================================================================== */

.highlights{
    display: flex;
    justify-content: center;
    margin-top: 165px;
}
.highlight article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
}
.highlight article img{
    width: 567px;
    height: 427px;
    object-fit: cover;
   
}
.highlight-text{
    margin-right: 65px;
}
.highlight-text h3{
    font-size: 45px;
    color: #0A0826;
    line-height: 50px;
    
    
}
.highlight-text p{
    font-size: 16px;
    color: #6C6C6C;
    text-align: justify;
    margin-bottom: 24px;
}



/* ===============================================================================
                                   next section style
================================================================================== */



section .next-match{
    width: 1050px;
    border-radius: 20px;
    border: 1px solid #eee;
    padding: 0px;
}
section .next-match h3{
    background-color: #00000028;
    color: #fff;
    font-size: 25px;
    border-radius: 15px 15px 0 0;
    padding-left: 20px;
}
.matches{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding: 20px;
}
.match{
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    box-shadow: 2px 2px 10px grey;
}
.match span{
    display: flex;
}
.match img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 10px;
}
.match h4{
    margin: 0 10px;
}
.date{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* ===============================================================================
                                   footer section style
================================================================================== */

footer .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 155px 0 63px 0;
}
footer .content .logo{
   width: 480px;
   height: 110px;
}
footer .content span{
    margin: 20px 0;
}
footer .content span a{
    color: #10437A    ;
    margin: 0 14px;
    font-size: 22px;
    transition: .5s;
    
}
footer .content span a:hover{
    color: #061c33    ;
    

    
}


/* ===============================================================================
                                   media query for mobile
================================================================================== */

@media (max-width:662px) {
    header, main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .navbar{
        width: 100%;
        display: none;
    }
    .banner{
        flex-direction: column;
        width: 100%;
        margin: auto;
        
    }
    .banner-text{
        font-size: 36px;
        line-height: 50px;
       width: 100%;
       margin:112px 0 50px 16px;
         color: #fff;
     
    }
 
    .banner-text h3{
        margin:0 66px 30px 0;
    }
    
    .banner img{
        width: 330px;
        height: 260px;
    }
    
    main section{
        align-items: center;
        margin-top: 47px;
        
       
        
    }
    .players{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 24px;
    }




    /* extra rank section =================== */

    
section .ranking{
    width: 100%;
    padding: 0 10px;
}

    
    section .ranking .ranked .rank-head{
        display: none;
    
    }


/* highlight section ================================ */




.highlights{
    margin: 0;
    padding:0;
    max-width: 100%;
    height: auto;
}
.highlight{
    width: 330px;
}

.highlight article{
    flex-direction: column;
    width: 100%;
}
.highlight article img{
    height: auto;
    object-fit: cover;
    padding: 20px;
    
    width: 328px;
height: 248px;
   
}
.highlight-text{
    width: 100%;
    font-size: 30px;
    padding:60px 15px 0px;
    margin: 0;
}
.highlight-text p{
    margin: 8px 0 24px;
}





/* extra next match======================= */

section .next-match{
    width: 100%;
 
}

.matches{
    grid-template-columns: repeat(1,1fr);
   
}

/* footer section =========================== */


footer .content{
    margin:30px auto;
}
footer .content .logo{
   width: 280px;
   height: 70px;
}
footer .content span{
    margin: 20px 0;
}



    
}

/* ===============================================================================
                                   media query for pad
================================================================================== */

@media (max-width:992px) and (min-width:662px) {
    header, main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .navbar{
        width: 100%;
        display: none;
    }
    .banner{
        flex-direction: column;
        width: 100%;
        margin: auto;
        
    }
    .banner-text{
        font-size: 46px;
        line-height: 60px;
       width: 100%;
      padding: 30px 15px;
     
    }
 
   
    
    .banner img{
        width: 400px;
        height: 320px;
    }
   

    /* main section ================ */

    .players{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 24px;
        padding: 0 15px;
    }

    
    /* extra rank section =================== */

    
section .ranking{
    width: 100%;
    padding: 0 10px;
    
}

    
    section .ranking .ranked .rank-head{
        display: none;
    
    }



/* highlight section ====================== */



.highlights{
    margin: 0;
    padding:0;
    max-width: 100%;
    height: auto;
}


.highlight article{
    width: 100%;
    flex-direction: column;
}
.highlight article img{
  margin-top: 30px;
   
}
.highlight-text{
    width: 100%;
    font-size: 30px;
    padding:60px 15px 0px;
    margin: 0;
}
.highlight-text p{
    padding: 20px 0;
}

/* extra next match======================= */

section .next-match{
    width: 100%;
 
}

.matches{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


/* footer section ================= */

footer .content{
    margin:30px auto;
}

  
}
